/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font */
body {
    font-family: 'Montserrat', sans-serif;
}
/* hover */
#create_playlist:hover a,
.playlist_list li:hover,
#nav_bottom #download:hover span,
#song_title_and_artist span:hover,
#song_like_and_save a i:hover {
    color: white;
    cursor: pointer;
}

#create_playlist:hover #create_playlist_icon {
    background-color: white;
}

#song_title_and_artist span:hover {
    text-decoration: underline;
}

.bar:hover .bar_overlay {
    background-color: lime;
}
.bar:hover .bar_circle {
    visibility: visible;
}

#controls i:hover {
    transform: scale(1.1);
}
/* --- --- --- */
#body_wrapper {
    width: 100%;
    height: 100vh;
    background-color: lightgray;
}

#main_wrapper {
    height: calc(100vh - 90px);
    display: flex;
}
/* nav */
/* nav shrinked */
#nav_shrinked {
    width: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}
#nav_shrinked_up,
#nav_shrinked_down {
    display: flex;
    flex-direction: column;
}
#nav_shrinked img{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#nav_shrinked_down img:first-child {
    height: 15px;
}
#nav_shrinked_down img:nth-child(2) {
    background-color: gray;
    border-radius: 50%;
}
/* /nav shrinked */

#main_nav {
    width: 230px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    /* padding-left: 20px;
    padding-right: 20px; */
    color: gray;
}
#nav_logo,
#nav_center,
#nav_playlist,
#nav_bottom {
    padding: 0 20px;
}

#nav_logo {
    display: flex;
    height: 90px;
}
#nav_logo img {
    width: 65%;
}
/* nav menu */
#nav_menu {
    margin-bottom: 15px;
}

#nav_menu_list li {
    list-style: none;
    padding: 5px 20px;
    position: relative;
}
#nav_menu_list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}
#nav_menu_list img {
    height: 25px;
    opacity: 0.8;
}
#nav_menu_list span {
    padding-left: 8px;
}

#nav_menu_list li:nth-child(1) a,
#nav_menu_list li:hover a {
    color: white;
}
#nav_menu_list li:nth-child(1) img,
#nav_menu_list li:hover img {
    opacity: 1.0;
}
#nav_menu_list li:nth-child(1)::before,
#nav_menu_list li:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px; 
    transform: translate(-50% , -50%);
    height: 10px;
    height: 100%;
    border-left: 3px solid lime;
}
/* /nav menu */
/* playlist */
#nav_playlist span:first-child {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;
}

#create_playlist {
    margin-bottom: 20px;
}

#create_playlist a {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: gray;
}

#create_playlist_icon {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: lightgray;
    margin-right: 10px;
    position: relative;
}
#create_playlist_icon .fa-plus {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.playlist_list {
    list-style: none;
    font-size: 12px;
    font-weight: 700;
}
.playlist_list li {
    padding-bottom: 20px;
}
/* nav center */
#nav_center {
    overflow-y: auto;
}
/* nav bottom */
#nav_bottom {
    margin-top: auto;
    width: 100%;
    font-weight: 700;
}

#download,
#account {
    display: flex;
    align-items: center;
}

#download {
    font-size: 12px;
    margin-bottom: 10px;
}
#account {
    font-size: 14px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

#download img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

#account img {
    height: 25px;
    width: 25px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

/* content */
#content {
    width: calc(100% - 230px);
    overflow-y: auto;
    background-color: #141922;
}
/* upgrade */
#upgrade {
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn_upgrade {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 12px 40px;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 20px;
    /* ???bug grafico col transition??? */
    /* transition: 0.3s;  */
}
.btn_upgrade:hover {
    transform: scale(1.1);
}

/* menu */
#content_menu {
    margin-top: 90px;
    text-align: center;
}

#content_menu_list li{
    display: inline-block;
    list-style: none;
    margin: 18px 12px;
    position: relative;
}
#content_menu_list a {
    font-size: 13px;
    color: gray;
    text-transform: uppercase;
    font-weight: 700;
}

#content_menu_list li:nth-child(1)::after,
#content_menu_list li:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 10px;
    width: 50%;
    border-bottom: 3px solid lime;
}
#content_menu_list li:hover {
    cursor: pointer;
}
#content_menu_list li:nth-child(1) a,
#content_menu_list li:hover a {
    color: white;
}

/* contet sections */
#recently_played,
#create_for,
#most_popular {
    margin: 30px 20px;
}

#most_popular img {
    border-radius: 50%;
}

/* section */
.section_container {
    display: flex;
    text-align: center;
}

.section_item {
    flex-basis: calc(100% / 6);
    padding-right: 15px;
    padding-bottom: 15px;
}

.item_image_overlay {
    position: relative;
}
.fa-4x {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    visibility: hidden;
}
.item_image_container img {
    width: 100%;
}
.section_item:hover .item_image_container {
    opacity: 0.6;
}
.section_item:hover .fa-4x {
    visibility: visible;
    z-index: 5;
}

/* section title */
.section_title {
    margin-bottom: 30px;
}
.section_title h2 {
    margin-bottom: 12px;
    color: white;
}
.section_title p {
    font-size: 12px;
    font-weight: 700;
    color: gray;
}
/* item title */
.item_title p:first-child {
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
}
.item_title p {
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

/* footer */
#music_player {
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* footer left */
#music_player_left {
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#song {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#song_img {
    height: 45px;
    width: 45px;
}
#song_img img {
    height: 100%;
}
#song_title_and_artist span {
    display: block;
    padding-left: 10px;
}
#song_title_and_artist span:first-child {
    font-size: 12px;
    color: white;
    font-weight: 700;
}
#song_title_and_artist span:nth-child(2) {
    font-size: 10px;
    color: gray;
    font-weight: 700;
}

#song_like_and_save i{
    padding: 5px;
    color: gray;
}

/* footer center */
#music_player_center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#controls {
    display: flex;
    align-items: center;
    color: white;
}
#controls i {
    padding: 0 12px;
}

#controls_bar {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar {
    display: inline-block;
    width: 60%;
    height: 5px;
    border-radius: 5px;
    background-color: gray;
    position: relative;
}
.bar_overlay {
    display: inline-block;
    width: 30%;
    height: 5px;
    border-radius: 5px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}
.bar_circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -90%;
    right: 0%;
    visibility: hidden;
}
#controls_bar span {
    padding: 0 15px;
    font-size: 10px;
    font-weight: 700;
    color: white;
}

/* footer right */
#music_player_right {
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#music_player_right i {
    font-size: 13px;
    padding: 5px;
}

/* media query */
/* 992px */
@media screen and (max-width: 992px) {

    .section_container {
        flex-wrap: wrap;
    }
    .section_item {
        flex-basis: 25%;
    }
}
/* 768px */
@media screen and (max-width: 768px) {

    .section_item {
        flex-basis: 50%;
    }
}
/* 576px */
@media screen and (max-width: 576px) {
    /* nav */
    #main_nav {
        width: 50px;
        padding: 0;
    }

    #nav_top,
    #nav_center,
    #nav_bottom {
        display: none;
    }
    #nav_shrinked {
        display: flex;
    }
    
    #content {
        width: calc(100% - 50px);
    }
    #upgrade {
        width: calc(100% - 50px);
    }

    #music_player_left,
    #music_player_right {
        width: 29%;
    }
    #controls i {
        padding: 0 5px;
    }
}